@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-body;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: #fafafa;
    }
    &::-webkit-scrollbar-thumb {
      // border-radius: 50px;
      @apply bg-secondary;
    }
  }
}
@layer components {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .circle-loading2 {
    display: inline-flex;
    animation: loading2 1s infinite;
  }

  .circle-loading2 div {
    width: 50px;
    height: 50px;
    border: 2px solid #fcb564;
    border-radius: 50%;
    margin: 0 5px;
  }

  @keyframes loading2 {
    50% {
      transform: rotate(200deg);
    }

    75% {
      transform: rotate(160deg);
    }

    100% {
      transform: rotate(180deg);
    }
  }
  .movie-layout {
    & .swiper-slide {
      height: auto;
    }
  }
  .menu-item {
    font-size: 16px;
    color: #fff;
  }
  .menu-item.active {
    @apply bg-bgGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
  }
  .movie-type {
    padding-top: 6px;
    padding-bottom: 6px;
    @apply bg-bgGradient;
    border-left: solid 3px #408bea;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    border-color: #dacb46;
    padding-left: 10px;
  }
  .title {
    font-size: 20px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .selected {
      @apply text-primary;
    }
  }
  .footer-social {
    &:hover .social-facebook {
      color: #3b5998;
    }
    &:hover .social-twiter {
      color: #1da1f2;
    }
    &:hover .social-linkedin {
      color: #007bb5;
    }
    &:hover .social-pinterest {
      color: #c13584;
    }
  }
  .card-movie-list {
    overflow: hidden overlay;
  }
}
.hero-slide {
  aspect-ratio: 2/1;
}

.next,
.previous {
  font-size: 30px;
}
// reponsive

@media (max-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .hero-slide {
    aspect-ratio: 18/10;
  }
}
@media (max-width: 767px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 767px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .hero-slide {
    aspect-ratio: 18/10;
  }
}
@media (max-width: 576px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
  }
  .pagination {
    display: none;
  }
}
@media (max-width: 500px) {
  .hero-slide {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  .hero-slide .hero-slide-title {
    font-size: 28px !important;
  }
}
@media (max-width: 414px) {
  .hero-slide {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    aspect-ratio: 18/14;
    padding-top: 68px !important;
  }
}
